body{
background:  url('back.jpg') scroll fixed 100% 100%}
	
h1.x1{
	border-color:red blue;/*blue left,blue right,red top and red bottom*/
	font-size:5vw
}

h1 {
color: white;
font-size:300%;
}
table,th,td {
border: 1px solid black;
}
tr:nth-child(even),th:nth-child(even){
background-color:#D6EEEE;
}
tr{
border-bottom:1px solid #ddd
}
tr:hover{
background-color:red
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.x1{
background-color: blue;
}

